<div class="single-event-main">
  <% if @event.in_active %>
    <p>This event is inactive edit and uncheck inactive to make it active again</p>
  <% end %>
  <h4 class="single-event-name"><%= @event.name %></h4>
  <p class="event-desc"><%= @event.description %></p>

  <div class="date-top">
    <p>event starts on</p>
    <p class="event-item-date"><%= @event.start_date.to_s(:custom) %></p>
    <p>event ends on</p>
    <p class="event-item-date"><%= @event.end_date.to_s(:custom) %></p>
  </div>
  <div class="btns">
    <%= link_to "Edit", edit_event_path(@event), :class => 'link-btn btn-edit' %>

    <%= link_to "Delete", event_path(@event), :class => 'link-btn',
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </div>

</div>