<div class="single-event-main">
  <h2>Log in</h2>
  <%= form_for(resource, :html => { :class => "form" }, as: resource_name, url: session_path(resource_name)) do |f| %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'field' %>



    <%= f.label :password %><br/>
    <%= f.password_field :password, autocomplete: "current-password", class: 'field' %>


    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %>



    <%= f.submit "Log in", class: 'submit-btn' %>

  <% end %>
  <div class="mt">
    <%= render "devise/shared/links" %>
  </div>

</div>

